@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
html {
  font-size: 10px;
  font-family: "Comfortaa", cursive;
}

a {
  text-decoration: none;
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

html {
  scroll-behavior: smooth;
  height: 400vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

.light {
  background-color: #4A1942;
}

.dark {
  background-color: #2E1C2B;
}

.home-main {
  background-image: url("/images/main-background.jpg");
  width: 100%;
  height: calc(100vh - 140px);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-top: 140px;
}
.home-main .main-text {
  color: white;
  margin-bottom: 6%;
}
.home-main .main-text h1 {
  font-size: 4rem;
  font-weight: 100;
}
.home-main #jelly {
  font-family: "Parisienne", cursive;
  color: black;
  padding-left: 4rem;
}
.home-main #goat {
  font-family: "Baloo Bhai", monospace;
  color: black;
}
.home-main .logo-img {
  width: 200px;
}

.page-divider {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-divider .divider-text {
  color: #EAEAEA;
  font-size: 3rem;
  text-align: center;
}

.home-para {
  background-image: url("/images/med-background.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.home-info {
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.home-info .info-wrapper {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  margin: 10rem 0;
}
.home-info .info-wrapper .guy-wrapper {
  display: flex;
  justify-content: center;
}
.home-info .info-wrapper .guy-wrapper .guy-img-wrapper {
  max-width: 38rem;
  position: relative;
  transform: translateY(40px);
}
.home-info .info-wrapper .guy-wrapper .guy-img-wrapper img {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}
.home-info .info-wrapper .guy-wrapper .guy-img-wrapper .guy-img-bg {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-5deg);
  z-index: -1;
  opacity: 0.5;
}
.home-info .info-wrapper .guy-wrapper .guy-img-wrapper .guy-img-bg:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(7deg);
  z-index: -2;
  opacity: 0.3;
}
.home-info .info-wrapper .guy-wrapper .guy-text-wrapper {
  padding: 2.5rem 5rem;
  max-width: 45rem;
  color: black;
}
.home-info .info-wrapper .guy-wrapper .guy-text-wrapper h2, .home-info .info-wrapper .guy-wrapper .guy-text-wrapper h3 {
  font-family: "Parisienne", cursive;
}
.home-info .info-wrapper .guy-wrapper .guy-text-wrapper h2 {
  font-size: 5rem;
}
.home-info .info-wrapper .guy-wrapper .guy-text-wrapper h3 {
  font-size: 3rem;
  margin-bottom: 4rem;
}
.home-info .info-wrapper .guy-wrapper .guy-text-wrapper p {
  font-size: 2rem;
}
.home-info .info-wrapper .info-spacer {
  font-size: 4rem;
  margin: 3rem auto;
}
.home-info .info-wrapper .jack-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.home-info .info-wrapper .jack-wrapper .jack-img-wrapper {
  max-width: 38rem;
  position: relative;
}
.home-info .info-wrapper .jack-wrapper .jack-img-wrapper img {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}
.home-info .info-wrapper .jack-wrapper .jack-img-wrapper .jack-img-bg {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(2deg);
  z-index: -1;
  opacity: 0.5;
}
.home-info .info-wrapper .jack-wrapper .jack-img-wrapper .jack-img-bg:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-7deg);
  z-index: -2;
  opacity: 0.3;
}
.home-info .info-wrapper .jack-wrapper .jack-text-wrapper {
  padding: 2.5rem 5rem;
  max-width: 45rem;
  color: black;
}
.home-info .info-wrapper .jack-wrapper .jack-text-wrapper h2, .home-info .info-wrapper .jack-wrapper .jack-text-wrapper h3 {
  font-family: "Baloo Bhai", monospace;
  text-align: end;
}
.home-info .info-wrapper .jack-wrapper .jack-text-wrapper h2 {
  font-size: 5rem;
}
.home-info .info-wrapper .jack-wrapper .jack-text-wrapper h3 {
  font-size: 3rem;
  margin-bottom: 4rem;
}
.home-info .info-wrapper .jack-wrapper .jack-text-wrapper p {
  font-size: 2rem;
  text-align: end;
}

.nav-hero {
  width: 100%;
  display: flex;
  height: 14rem;
  border-bottom: 1px solid black;
  align-items: center;
  background-color: #EAEAEA;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 1000px) {
  .nav-hero {
    justify-content: center;
  }
}
.nav-hero .nav-wrapper {
  max-width: 1550px;
}
@media only screen and (min-width: 1000px) {
  .nav-hero .nav-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.nav-hero .nav-wrapper .logo-wrapper {
  display: flex;
}
.nav-hero .nav-wrapper .logo-wrapper img {
  width: 12rem;
  max-height: 10rem;
}
.nav-hero .nav-wrapper .logo-wrapper img:hover {
  transform: rotate(360deg);
  transition: all 1.2s linear;
}
.nav-hero .nav-wrapper .logo-wrapper .title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-hero .nav-wrapper .logo-wrapper .title-wrapper .jelly {
  font-family: "Parisienne", cursive;
  color: black;
  font-size: 1.9rem;
  padding-left: 5px;
}
@media only screen and (min-width: 1000px) {
  .nav-hero .nav-wrapper .logo-wrapper .title-wrapper .jelly {
    font-size: 2.2rem;
    padding-left: 10px;
  }
}
.nav-hero .nav-wrapper .logo-wrapper .title-wrapper .goat {
  font-family: "Baloo Bhai", monospace;
  color: black;
  font-size: 1.6rem;
}
@media only screen and (min-width: 1000px) {
  .nav-hero .nav-wrapper .logo-wrapper .title-wrapper .goat {
    font-size: 2rem;
  }
}
.nav-hero .nav-wrapper .hamburger-menu {
  width: 3.5rem;
  height: 3rem;
  position: fixed;
  top: 5.5rem;
  right: 3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
}
@media only screen and (min-width: 1000px) {
  .nav-hero .nav-wrapper .hamburger-menu {
    display: none;
  }
}
.nav-hero .nav-wrapper .hamburger-menu .line {
  width: 100%;
  height: 0.3rem;
  background-color: #050404;
  transition: all 0.8s;
}
.nav-hero .nav-wrapper .navbar {
  width: 100vw;
  height: 100%;
  background-color: rgba(38, 38, 38, 0.9411764706);
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  z-index: 2;
}
@media only screen and (min-width: 1000px) {
  .nav-hero .nav-wrapper .navbar {
    width: initial;
    height: initial;
    background-color: initial;
    position: relative;
    top: initial;
    right: initial;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: flex;
  }
}
.nav-hero .nav-wrapper .navbar .nav-list {
  text-align: center;
}
@media only screen and (min-width: 1000px) {
  .nav-hero .nav-wrapper .navbar .nav-list {
    display: flex;
  }
}
.nav-hero .nav-wrapper .navbar .nav-list .nav-item {
  list-style: none;
  margin: 2.5rem;
}
.nav-hero .nav-wrapper .navbar .nav-list .nav-item .nav-link {
  text-decoration: none;
  font-size: 3.5rem;
  color: #EAEAEA;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .nav-hero .nav-wrapper .navbar .nav-list .nav-item .nav-link {
    color: #333;
    font-size: 2.5rem;
  }
}
.nav-hero .nav-wrapper .navbar .nav-list .nav-item .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #EAEAEA;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
@media only screen and (min-width: 1000px) {
  .nav-hero .nav-wrapper .navbar .nav-list .nav-item .nav-link::before {
    background-color: #4A1942;
  }
}
.nav-hero .nav-wrapper .navbar .nav-list .nav-item .nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.nav-hero .open-menu {
  right: 0 !important;
}

.change .hamburger-menu .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
  background-color: #EAEAEA !important;
}
.change .hamburger-menu .line-2 {
  opacity: 0;
}
.change .hamburger-menu .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
  background-color: #EAEAEA !important;
}

.services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 10rem 20rem;
  background-color: #e8e8e8;
}
.services__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1550px;
}
.services__heading {
  margin-bottom: 10rem;
  font-size: 6rem;
}
.services__wrapper {
  max-width: 30rem;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}
.services__text-wrap {
  text-align: center;
  padding: 20px;
  background-color: #fff;
}
.services__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.services__text {
  font-size: 1.6rem;
}

.test {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
}
.test__header {
  font-size: 6rem;
}
.test__name {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.test__test {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.test__date {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.swiper {
  width: 100%;
  height: 100%;
  max-height: 600px;
  max-width: 1550px;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  padding: 50px 80px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 420px;
  padding: 50px 80px;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-prev, .swiper-button-next {
  color: #4A1942 !important;
}/*# sourceMappingURL=main.css.map */