*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

html {
    scroll-behavior: smooth;
    height: 400vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

textarea {
    white-space: revert;
}